<h1>Log in</h1>

<p>
  <%= flash[:success] unless flash[:success].blank? %>
  <%= flash[:error] unless flash[:error].blank? %>
</p>

<%= form_tag :action => 'create' do %>
	<p><label for="username">Username:</label>
	<%= text_field :session, 'username' %></p>

	<p><label for="password"> Password: </label>
	<%= text_field :session, 'password' %></p>


  <%= submit_tag "Log in", {:action => 'create', :controller => 'sessions'}  %>

<% end %>

<p>New user? <%= link_to "Sign up now!", {:action => 'new', :controller => 'users'} %></p>
